@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
    color:rgb(255, 50, 50);
    font-size:70px;
    text-decoration:underline;
}
